.items {
    border-bottom: 20px solid #FAFBFC;
    padding: 20px 30px;
    margin: 0 auto;
    background: #ffffff;
}

.title {
    font-weight: bold;
    font-size: 15pt;
}

.items:hover {
    background: #eeeeee;

}

.description{
    font-size: 11pt;
}

.sentiment {
    color: #1564A8;
    font-size: 12pt;
}

.postdate {
    font-size: 10pt;
}
