.items {
    border-bottom: 20px solid #FAFBFC;
    padding: 20px 30px;
    margin: 0 auto;
    background: #ffffff;
}

.title {
    font-weight: bold;
    font-size: 12pt;
}

.items:hover {
    background: #eeeeee;
    transition: background 0.1s ease;
}

.items:active {
    transform: translateY(5px);
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}


.description{
    font-size: 11pt;
}

.sentiment {
    color: #1564A8;
    font-size: 10pt;
}

.postdate {
    font-size: 10pt;
}
