.items {
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 50px;
    width: 800px;
    background: #ffffff;
    cursor: pointer;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.items:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.sentiment {
    color: #1564A8;
}

