.items {
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 50px;
    width: 680px;
    background: #ffffff;
}

.items:hover {
    background: #eeeeee;
    transition: background 0.3s ease;
}

.title {
    font-weight: bold;
    font-size: 16pt;
}

.sentiment {
    color: #1564A8;
    font-size: 16pt;
}

