.body{
    min-height: calc(100vh - 3.8rem);
}

.logo{
    display:inline-block;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.logo img {
    width: 90px;
}

.resultArea{
    background: #ffffff;
    font-size: 12pt;
    border: 3px solid #eeeeee;
    width: 85%;
    padding: 15px 35px;
    height: auto;
    margin: 0px auto 40px auto;
}

.btnWrap{
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
}

.btnWrap img {
    width: 80px;
}
