.body{
    min-height: calc(100vh - 4rem);
}

.logo{
    display:inline-block;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}

.logo img {
    width: 130px;
}

.resultArea{
    background: #ffffff;
    font-size: 14pt;
    border: 1px solid #eeeeee;
    box-shadow: 2px 2px 2px 2px #eeeeee;
    border-radius: 25px;
    padding: 20px 45px;
    width: 85%;
    height: auto;
    margin: 0px auto 60px auto;
}

.btnWrap{
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

.btnWrap img {
    width: 90px;
}
