.items {
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 50px 50px;
    width: 800px;
    background: #ffffff;
}

.title {
    font-weight: bold;
    font-size: 18px;
}

.title:hover {
    cursor: pointer;
}

.sentiment {
    color: gray;
    float: right;
}

