@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    font-style: normal;
    transform: rotate(0.03deg);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothic.woff2) format('woff2');
    font-display: swap;
}

* {
    font-family: 'NanumBarunGothic';
    background-color: #ffffff;
}

#MainlogoDiv {
    text-align: center;
    margin-top: 250px;
}

#MainSearchDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 25px;
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px gainsboro;
}

#MainInput {
    margin-right: 20px;
    width: 85%;
    height: 70%;
    font-size: 15pt;
    font-weight: 600;
    border-style: none;
    color: #000000;
}

#MainInput:focus {
    outline: none;
}

#MainSearchBtn {
    border-style: none;
    position: absolute;
    margin-top: 5px;
    margin-left: 630px;
    cursor: pointer;
}

#MainSearchBtn img {
    width: 30px;
}

.swal-text {
    font-size: 20px;
    font-weight: 600;
}