@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    font-style: normal;
    transform: rotate(0.03deg);
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumBarunGothic.woff2) format('woff2');
    font-display: swap;
}

* {
    font-family: 'NanumBarunGothic';
    color: #000000;
}

#body {
    background: #FAFBFC;
}

#wrap {
    top: 0;
    position: sticky;
    border-bottom: 1px #32594A solid;
    margin-bottom: 80px;
    box-shadow: 5px 5px 5px gainsboro;
}

#content {
    align-items: center;
    display: flex;
    justify-content: center;
}

#logo {
    width: 75px;
    margin: 22px 30px 20px 0px;
}

#ResultSearchDiv {
    width: 35%;
    min-width: 650px;
    border-left: 2px #eeeeee solid;
}

#ResultInput {
    width: 90%;
    border: none;
    margin-left: 25px;
    height: 30px;
    font-size: 17pt;
    font-weight: 600;
    color: #000000;
}

#ResultInput:focus {
    outline: none;
}

#ResultInput::placeholder {
    font-size: 12pt;
    font-weight: 400;
    color: #9e9e9e;
}

#ResultInput:focus::placeholder{
    color:transparent;
}

#ResultSearchBtn {
    padding: 0;
    margin: 0;
    border-style: none;
    cursor: pointer;
}

#ResultSearchBtn img {
    width: 30px;
}

#ContentWrap {
    border: 1px solid #eeeeee;
    width: 40%;
    margin: 0 auto;
    min-width: 800px;
}

.loading {
    float: right;
    color: gray;
}

.items {
    border: 1px solid #eeeeee;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 70px 50px;
    width: 40%;
    min-width: 800px;
}

.items a {
    text-decoration: none;
}

.title {
    color: #004AAD;
    font-size: 18px;
}

.title b {
    color: #004AAD;
}

#ref{
   border: 1px solid #FAFBFC;
}