.topBtn {
    border: none;
    border-radius: 50px;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent !important;
}

/* Pc */
.wrapP {
    position: fixed;
    right: 10%;
    bottom: 10%;
    z-index: 1;
}

.btnImgP {
    width: 35%;
}

/* 모바일 */
.wrapM {
    position: fixed;
    right: -9%;
    bottom: 7%;
    z-index: 1;
    
}

.btnImgM {
    width: 25%;

}

/* Tablet */
.wrapT {
    position: fixed;
    right: -2%;
    bottom: 10%;
    z-index: 1;
}

.btnImgT {
    width: 35%;
}
